.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    width: 100%;
    padding: 92px 50px 90px 50px;
    align-items: center;
    font-size: 18px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 33px;
    width: 392px;
    list-style-type: circle;
}


.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link-active {
    text-decoration: none;
}

.header__img {
    width: 148px;
    height: 105px;
}

.address {
    justify-self: end;
    display: flex;
    flex-direction: column;
    font-style: normal;
    width: 240px;
    line-height: 24px;
}

.cover {
    min-height: 757px;
    background: url("../images/cover.jpg") no-repeat center / cover;
    position: relative;
    color: white;
    margin-bottom: 182px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    margin-bottom: 106px;
    line-height: 114px;
    font-weight: bold;
    padding: 170px 50px 0 50px;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
    font-size: 100px;
    margin-bottom: 20px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_right {
    text-align: right;
}

.aligned-text_center {
    text-align: center;
    margin-left: 30px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    line-height: 28px;
    font-size: 22px;
    text-transform: uppercase;
    padding: 0 50px;
}

.cover__description-text {
    align-self: center;
    word-spacing: 19px;
}

.bet-button {
    background-color: transparent;
    text-transform: uppercase;
    width: 257px;
    height: 51px;
    color: white;
    border: white solid 1px;
}

.lots {
    width: 1052px;
    margin: 0 auto 125px auto;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    list-style-type: none;
    color: white;
    margin-bottom: 30px;
}
.lots__card-list-item {
    min-height: 596px;
    max-width: 334px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-link {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
}

.card__title {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    font-size: 20px;
    line-height: 1.2em;
    text-decoration: none;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
}



.about {
    margin: 0 24px 185px 24px;
    display: grid;
    grid-template-columns: 334px auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "about_logo about_title"
    ". about_text";
}

.about__logo_section {
    grid-area: about_logo;
    padding-top: 30px;
    padding-left: 47px;
}

.about__title_section {
    grid-area: about_title;
    align-self: center;
    padding-top: 40px;
    padding-left: 25px;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text_section {
    grid-area: about_text;
    padding-left: 25px;
    padding-top: 10px;
}

.about__logo {
    background-color: black;
    border-radius: 140px;
    width: 240px;
    height: 240px;
    display: flex;
}

.about__logo-image {
    margin: auto;
    width: 148px;
    height: 114px;
}

.about__text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 3px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    margin-bottom: 82px;
}

.footer__address {
    justify-self: start;
}

.footer__links {
    justify-self: center;
}

.footer__links-list {
    list-style-type: none;
}

.footer__links-list-item {
    text-align: center;
}

.footer__social-list {
    justify-self: end;
    display: flex;
    gap: 48px;
    list-style-type: none;
}


.header__link_active {
    text-decoration: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}